{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 60
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    "transform-react-inline-elements",
    "transform-react-constant-elements"
  ]
}
